.form-calculate {
  margin-top: 40px;
  margin-bottom: 40px;
}
input {
  margin-bottom: 20px;
}

.fast-range {
  margin: 10px 0 20px 0;  
}

.total {
  display: none;
  margin-top: 40px;
  margin-bottom: 40px;
}

.butt {
  display: inline-flex;
  height: 40px;
  padding: 0 20px;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  border: 1px solid #ccc;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}